<div class="container">
  <div class="row">
  <!--當前用戶為本人顯示編輯資料 -->
  <% if @user == current_user %>
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" >
      <h1>個人資訊編輯:</h1>

      <!-- 錯誤提示:名稱不可空白  -->
      <% if @user.errors.any? %>
        <h4>We have some errors here !</h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <hr>
      <% end %>

      <!-- User Profile edit form  -->      
      <%= form_for [@user] do |f| %>
        <div class="form_group">
          <%= f.label :name, "您的名稱" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form_group">
          <%= f.label :intro, "自我介紹" %>
          <%= f.text_area :intro, class: "form-control" %>
        </div>

        <br>
        <div class="form_group">        
          <%= f.label :avatar, "上傳大頭照" %>
          <%= image_tag @user.avatar, width: '150px' if @user.avatar? %>
          <%= f.file_field :avatar %>
        </div>   
        <br>  
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.button 'cancel', type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  <% else %>
  <h2 class="text-center">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    個人資料僅限本人編輯
  </h2>  
    <ul class="list-inline text-center">
      <li><%= link_to '返回前頁', :back, class: "btn btn-default"%></li>
      <li><%= link_to "首頁", root_path, class: "btn btn-default" %></li>
    </ul>
  <% end %>  
  </div>
</div> 
