<div class="container">
  <!--nav bar -->
  <%= render partial: "shared/navBar" %>
  <!-- title -->
  <br>
  <h2 class="text-center">美食達人</h2>
  <br>
  <!-- user list -->
  <div class="row">
    <% @users.each do |user| %> 
      <% if user != current_user %>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="thumbnail">  
            <% if user.avatar? %>
               <%= image_tag user.avatar, width: '100px', class: "rounded img-responsive center-block img-circle" %>
            <% else %>
              <h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
            <% end %>
            <div class="caption text-center">
              <h3><%= link_to user.name, user_path(user) %></h3>
              <p>有<%= Followship.where(following_id: user).size %>個關注者</p>
              <%= render partial: "shared/followship", locals: {user: user} %>
              <%= render partial: "shared/friendship", locals: {user: user} %>
            </div>
          </div>
        </div>  
      <% end %> 
    <% end %>  
  </div>
</div>    