<div class="container">
  <!--nav bar -->
  <ul class="nav nav-pills nav-pills-center ">
    <!-- 當下頁面按鈕為active -->
    <li role="presentation" class="nav_inactive"><%= link_to "最新動態", feeds_restaurants_path %></li>
    <li role="presentation" class="nav_inactive"><%= link_to "熱門餐廳", ranking_restaurants_path %></li>
    <li role="presentation" class="active"><%= link_to "美食達人", users_path %></li>
    <li role="presentation"><%= link_to "全部餐廳", root_path %></li> 
    <!-- 下拉式各類餐廳 -->
    <li role="presentation" class="dropdown <%= "active" if @category %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <% if @category %>
          <%= @category.name %>
        <% else %>  
          選擇分類
        <% end %>  
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @categories.each do |category| %>
          <li role="presentation">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %> 
      </ul>
    </li>    
  </ul>
  <!-- title -->
  <br>
  <h2 class="text-center">美食達人</h2>
  <br>  
  <!-- user list -->
  <div class="row">
    <% @users.each do |user| %> 
      <% if user != current_user %>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="thumbnail">  
            <% if user.avatar? %>
               <%= image_tag user.avatar, width: '100px', class: "rounded img-responsive center-block img-circle" %>
            <% else %>
              <h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
            <% end %>
            <div class="caption text-center">
              <h3><%= link_to user.name, user_path(user) %></h3>
              <p>有<%= Followship.where(following_id: user).size %>個關注者</p>
              <%= render partial: "shared/followship", locals: {user: user} %>
            </div>
          </div>
        </div>  
      <% end %> 
    <% end %>  
  </div>
</div>    