<!-- user's profie page -->
<div class="container">
  <div class="row ">
    <div class="col-md-12">

      <!-- user's image -->
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 ">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, width: '200px', class: "rounded img-responsive center-block img-circle" %>
        <% else %>
          <h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
        <% end %>
      </div>  

      <!-- user's data -->
      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
        <ul class="list-unstyled">
          <li><h1>
            <% if @user.name %>
              <%= @user.name %>
            <% else %>
              <%= @user.email.split("@").first %> 
            <% end %>       
          </h1></li>
          <li><%= @user.email %></li>
          <li><%= @user.intro if @user.intro %></li>
        </ul>

        <!-- link to edit user's profile if himself/herself-->
        <%= link_to 'Edit Profile', edit_user_path(params[:id]), class: "btn btn-primary" if current_user == @user %>
      </div>
    </div>
  </div>  
  <br>
  <hr>
    <!-- commented restaurant list -->  
  <div class="row "> 
    <div class="panel panel-success">
      <div class="panel-heading text-center">
        <h3><%= @user.name %>評論過<%= @commented_restaurants.uniq.count %>間餐廳</h3>
      </div>
      <div class="panel-body">
        <% @commented_restaurants.uniq.each do |commented_restaurant| %>
          <div class="my-restaurant">
            <% if commented_restaurant.image? %>
              <%= image_tag commented_restaurant.image, class: "img-rounded" %> 
            <% else %>
              <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
            <% end %>
            <strong><%= link_to commented_restaurant.name, restaurant_path(commented_restaurant) %></strong>
          </div>  
        <% end %> 
      </div>  
    </div>  
  </div>
</div>    