 <!-- categories nav -->
  <ul class="nav nav-pills nav-pills-center">
    <button type="button" class="btn btn-default btn-lg navbar-btn"><%= link_to "最新動態", feeds_restaurants_path %></button>
    <li role="presentation" class="<%= "active" if @category == nil %>"><%= link_to "全部餐廳", root_path %></li>

<!-- 這邊判斷category==@category的時候要加 li.active -->
    <% @categories.each do |category| %>
      <li role="presentation" class="<%= "active" if category == @category %>">
        <%= link_to category.name, category_path(category) %>
      </li>
    <% end %>  
  </ul>

  <br>
<!-- restaurants List -->
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <% if restaurant.image? %>
            <%= image_tag restaurant.image, width: '150px', class: "card-img-top rounded" %> 
          <% else %>
            <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
          <% end %>

          <div class="card-body">
            <h3 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            <span class="label label-success"><%= restaurant.category.name %></span>
            <p class="card-text"><%= truncate(restaurant.description, length: 80) %></p>
          </div>
        </div>  
      </div>
    <% end %> 
  
  <!-- 有generate kaminari paginate bootstrap style -->
    <div class="text-center">
      <%= paginate @restaurants %>
    </div>