 <div class="container">
  <!-- feesds and categories nav -->
  <ul class="nav nav-pills nav-pills-center">
    <!-- 自定義nav_focus作為最新動態的class -->
    <li role="presentation" class="nav_inactive"><%= link_to "最新動態", feeds_restaurants_path %></li>
    <li role="presentation" class="nav_inactive"><%= link_to "熱門餐廳", ranking_restaurants_path %></li>
    <li role="presentation" class="<%= "active" if @category == nil %>"><%= link_to "全部餐廳", root_path %></li>

    <!-- 下拉式各類餐廳 -->
    <li role="presentation" class="dropdown <%= "active" if @category %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <% if @category %>
          <%= @category.name %>
        <% else %>  
          選擇分類
        <% end %>  
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @categories.each do |category| %>
          <li role="presentation">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %> 
      </ul>
    </li>    
  </ul>
  <br>
  <!-- restaurants List -->
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <% if restaurant.image? %>
            <%= image_tag restaurant.image, height:'50%', class: "img-thumbnail" %> 
          <% else %>
            <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
          <% end %>

          <div class="caption">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %> </h3>
            <span class="label label-success"><%= restaurant.category.name %></span>
            <p class="card-text"><%= truncate(restaurant.description, length: 80) %></p>
            <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
            <%= render partial: "shared/like", locals: {restaurant: restaurant} %>
          </div>
        </div>
      </div>  
    <% end %>      
  </div> 
  <!-- 有generate kaminari paginate bootstrap style -->
  <div class="text-center"><%= paginate @restaurants %></div>
</div>    