<div class="thumbnail">  
  <% if user.avatar? %>
     <%= image_tag user.avatar, width: '100px', class: "rounded img-responsive center-block img-circle" %>
  <% else %>
    <h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
  <% end %>
  <div class="caption text-center">
    <h3><%= link_to user.name, user_path(user) %></h3>
    <p>有<%= Followship.where(following_id: user).size %>個關注者</p>
    <%= render partial: "shared/followship", locals: {user: user} %>
    <%= render partial: "shared/friendship", locals: {user: user} %>
  </div>
</div>