<div class ="container">
  <!-- nav bar -->
  <%= render partial: "shared/navBar" %>
  <!-- title -->
  <br>
  <h2 class="text-center">餐廳最新動態</h2>
  <br>  
  <div class ="row">
    <div class ="col-xs-12 col-md-5 col-md-offset-1">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">最新餐廳</div>
        <!-- List group 列出最新10個加入餐廳-->
        <ul class="list-group">
        <% @recent_restaurants.each do |restaurant| %>
          <li class="panel-body list-group-item ">
            <%= render partial: "shared/restaurant_caption_link", locals: {restaurant: restaurant} %> 
            <p class="text-right">created <%= time_ago_in_words(restaurant.created_at) %> ago</p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  
    <div class ="col-xs-12 col-md-5">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">最新評論</div>
        <!-- List group 列出最新10個評論-->
        <ul class="list-group">
        <% @recent_comments.each do |comment| %>
          <li class="list-group-item">
            <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
            <p><%= comment.content %></p>
            <footer class="text-right">by  <%= render partial: "shared/user_avatar_link", locals:{user: comment.user} %>
              <cite title="Source Title"> <%= time_ago_in_words(comment.created_at) %> ago</cite>
            </footer>
            </p>
          </li>
        <% end %>  
        </ul>
      </div>
    </div>
  </div>
</div>