<div class ="container">
  <!-- feesds and categories nav -->
  <ul class="nav nav-pills nav-pills-center ">
    <!-- 最新動態為active,全部餐廳用nav_focus,其餘categories不需要active判斷 -->
    <li role="presentation" class="active"><%= link_to "最新動態", feeds_restaurants_path %></li>
    <li role="presentation" class="nav_focus"><%= link_to "熱門餐廳", ranking_restaurants_path %></li>
    <li role="presentation"><%= link_to "全部餐廳", root_path %></li>  
    <% @categories.each do |category| %>
      <li role="presentation"><%= link_to category.name, category_path(category) %></li>
    <% end %>  
  </ul>
  <h2 class="text-center">餐廳最新動態</h2>
  <br>
  <div class ="row">
    <div class ="col-xs-12 col-md-5 col-md-offset-1">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">最新餐廳</div>
        <!-- List group 列出最新10個加入餐廳-->
        <ul class="list-group">
        <% @recent_restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
            <p><%= restaurant.category.name %></p>
            <p><%= restaurant.description %></p>  
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  

    <div class ="col-xs-12 col-md-5">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">最新評論</div>
        <!-- List group 列出最新10個評論-->
        <ul class="list-group">
        <% @recent_comments.each do |comment| %>
          <li class="list-group-item">
            <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
            <p><%= comment.content %></p>
            <p>by <%= link_to comment.user.name, user_path(comment.user) %></p>
          </li>
        <% end %>  
        </ul>
      </div>
    </div>
  </div>
</div>