<div class="container">
  <!--nav bar -->
  <%= render partial: "shared/navBar" %>
  <!-- title -->
  <br>
  <h2 class="text-center">十大熱門餐廳</h2>
  <br>
  <!-- 依照收藏數降冪排序取前10位熱門餐廳 -->
  <% @top_restaurants.each do |restaurant| %> 
    <div class="panel panel-default">
      <div class="panel-body">  
        <div class ="row">
          <div class ="col-sm-5 col-md-2">
            <!-- 若無照片則以glyphicon代替 -->
            <% if restaurant.image? %>
              <%= image_tag restaurant.image, height: '100px', class: "img-responsive" %>
            <% else %>
              <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
            <% end %>
          </div>  
          <div class="col-sm-7 col-md-8">
            <h4><%= restaurant.name %>  
              <span class="label label-default">
                收藏數: 
                <%=restaurant.favorites_count %> 
              </span>
            </h4>
            <p><%= restaurant.description %></p>
            <br>
            <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
            <!-- 呼叫收藏按鈕樣板 -->
            <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
          </div>
        </div>
      </div>  
    </div>
  <% end %> 
</div>