<div class="container">
  <div class="row">
    <div class="col-md-12">
    <!-- restaurant info -->
     <h1><%= @restaurant.name %></h1> 
     <p>[<%= @restaurant.category.name %>]</p>
    </div>

    <div class="col-md-4">
      <% if @restaurant.image? %>
        <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
      <% else %>
        <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
      <% end %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hours:</strong><%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%=@restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
    </div>
      <div class="col-md-12">
      <hr>
      <!-- comments display area -->
      <% @restaurant.comments.each do |comment| %>
        <div>
          <h4><%= comment.user.email.split("@").first %></h4>
          <p><%= comment.content %></p>
          <p class="text-muted">
            <em><%= time_ago_in_words(comment.created_at) %> ago -</em>
            <%= link_to "刪除", restaurant_comment_path(@restaurant, comment), method: :delete, data:{ confirm: "確定刪除?" } if current_user.admin? %> 
          </p>  
        </div>  
      <% end %>
      <hr>
      <!-- New comment form -->
      <%= form_for [@restaurant, @comment] do |f| %>
        <div class="form_group">
          <%= f.label :content, "評論此餐廳" %>
          <%= f.text_area :content, placeholder: "請分享用餐經驗", class: "form-control" %>
        </div>
        <div class="form-group pull-right">
          <%= f.button "Cancel", type: :reset, class: "btn btn-deafult" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>  

    <hr>
  </div>
</div>
