<div class="container">
  <!-- resaturant/category page shift -->
  <div class="btn-group" role="group" aria-label="admin button">
    <button type="button" class="btn btn-default">
      <%= link_to 'Restaurant', admin_restaurants_path %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to 'Categories', admin_categories_path%>
    </button>
  </div>
  <!-- title and new category form -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">餐廳分類一覽表</h3>  
      <%= form_for [:admin, @category] do |f| %>
        <div class="form-group pull-right">          
          <%= f.text_field :name, placeholder: "請輸入新分類", class: "form-control-plaintext" %>
          <% if params[:id] %>
            <input type="submit" class="btn btn-warning" value="更新餐廳分類" >
          <% else %>
            <input type="submit" class="btn btn-primary" value="新增餐廳分類" >
          <% end %>      
        <br> 
          <strong><%= @category.errors.full_messages.to_sentence if @category.errors.any?%></strong>
        </div>  
      <% end %>              
      </div> 
    </div>     
  <!-- categories list table -->  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-hover">        
        <thead>              
          <tr class="bg-primary">
            <th class="col-md-1"> </th> 
            <td class="col-md-5">餐廳分類名稱</td>           
            <td class="col-md-1">編輯</td>
            <td class="col-md-1">刪除</td>
          </tr>          
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <th class="col-md-1 text-center"><%= category.id %></th>
              <div class="col-md-5">
                <td><%= category.name %></td>
              </div> 
              <div class="col-md-1">
                <td><%= link_to'<span class="glyphicon glyphicon-pencil"></span>'.html_safe, admin_categories_path(id: category.id) %>
                </td>
              </div>  
              <div class="col-md-1">
                <td><%= link_to'<span class="glyphicon glyphicon-trash"></span>'.html_safe, admin_category_path(category), method: :delete, data:{ confirm: "確定刪除此類別?" } %>
                </td>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>    
</div>      